{% load i18n %}
 
{% if err %}
    <div class="error">{{ err }}</div>
{% endif %}

<form action="{% url comment-save %}" method="post" class="simple_form">
    <input type="hidden" name="csrfmiddlewaretoken" value="{% with csrf_token as csrf_token_clean %}{{ csrf_token_clean }}{% endwith %}" />
    <p style="display:none">
        <input type="text" name="email_address" />
    </p>
    {{ form.as_p }}
    {% if private_comments %}
        <p>
            <label for="private_comment">{% trans 'Private comment' %} ?</label>
            <input type="checkbox" name="private_comment" id="private_comment" value="1" />
        </p>
    {% endif %}
    <p><input type="submit" value="{% trans 'Send' %}" /></p>
</form>
